.cm-enhancer-inline-suggestion {
  opacity: 0.5;
}
.cm-enhancer-inline-answer {
  color: #94c089;
  font-style: italic;
}
.cm-enhancer-composer-command input,
.cm-enhancer-assistant-command input {
  outline: none;
  background-color: transparent;
  color: white;
  width: 100%;
}
